<div class="container-offers">
<div class="fifty">
    <h1 class="text-center blue">Campaigns</h1>
    <h4 class="text-center">(<%= current_user.email %>)</h4>
</div>
<br>
<br>
<br>
    <% @pushes.each do |push| %>
      <% if push.owner == current_user.try(:email) || current_user.try(:email) == "sbhenrichs@gmail.com" %>
        <div class="campaign">

            <div class="img-index-post">
                <div class="img-index-con">
                    <img src="<%= push.iu %>" alt="" class="img-index">
                </div>
            </div>

            <div class="title">
                <h3 class="name"><%= link_to push.name, push, class: "link blue" %></h3>
            </div>

            <div class="date-con">
                <h3 class="date">Started: <%= push.date %></h3>
            </div>
            
        </div>
      <% end %>
      
    <% end %>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>