<html>
	<head>
		
	</head>
	<body>
		<div class="sidebar font">
			
			<div class="brand">
				<div class="logo-c">
					<span class="logo">blog/force</span>
				</div>
			</div>
			<br>
			<div class="user">
				<div class="image"></div>
				<div class="user-info">
					<div class="name text-center"><%= current_user.try(:email) %></div>
				</div>
			</div>
			<br>
			<div class="bar-line"></div>
			<br>
			<div class="centered">
				<a href="/offers" class="btn btn-info text-center"><span class="white">New Campaign</span></a>
			</div>

			<div class="actions">
				<br>
				<a href="/pushes" class="bar-link">Dashboard</a>
				<br>
				<br>
				<a class="bar-link" href="/offers">Offers</span>
			</div>

			<div class="bottom">
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
				<div class="margin"></div>
				<a href="/users/edit" class="bottom-links">Settings</a>
				<div class="margin"></div>
				<a href="/pages/profile">My Account</a>
			</div>


		</div>
	</body>
</html>