<html>
	<head>
		
	</head>
	<body>
		<div class="container-offers">
		<div class="first">
			<% if user_signed_in? %>
			<% else %>
			<div class="hero">
			<% end %>
				<h1>Blog Force is the best way to make money with your website, YouTube Channel, or blog.</h1>
				<div class="line first"></div>
			<% if user_signed_in? %>
			<% else %>
			</div>
			<% end %>
		</div>
		<div class="first">
			<% if user_signed_in? %>
			<% else %>
			<div class="hero">
			<% end %>
				<h1 class="text-center first">What you do.</h1>
				<br>
				<p class="larger">To make money with Blog Force, you only need to do a couple of things but the main task is what you do best: making content for your readers. Here are the steps: </p>
				<ol>
					<li>Sign up and log in if you haven't already.</li>
					<li>Go to the offers page and start a campaign.</li>
					<li>Do some research on the product and get to know it better.</li>
					<li><span class="heavier">Make your post</span>. This is the most imporant step. This could be a YouTube video, a blog post, part of a website, or pretty much anything. This is when you start making money.</li>
					<li>Check back. Look to see how many sales you've made, as well as how much money you're making. You can also decide if you need to make another post.</li>
					<li>End campaign. Once you do this, you'll get paid.</li>
				</ol>
				<br>
				<h1 class="text-center">Features</h1>
				<br>
				<h2>Easy and simple to use.</h2>
				<p class="larger">One of the best things about Blog Force is how easy it is to use. Really. In just a couple of clicks, you'll be up and running to start making some money. Next, all you need to do is make a post on your blog. It's as easy as that.</p>
				<br>
				<h2>You do what you do best.</h2>
				<p class="larger">Although it may seem to be good to be true (and we'll explain later) all you have to do to use Blog Force is make posts for your site. This could be a YouTube video, a blog post, or anything in between. It doesn't even have to be the central part of the post, although you'll probably be better off doing so.</p>
				<br>
				<h2>You're in control.</h2>
				<p class="larger">Another big feature is that you're in control. You can see how many sales you've made and how much money you're making. You can end your campaign at any time, and then recieve your payment.</p>
				<br>
				<h1 class="text-center">How it Works.</h1>

				<br>

				<h2>Affiliate Links.</h2>
				<p class="larger last">We make the use of  affiliate links to make money for you as well as for us. If you don't know how it works, let me fill you in. Basically, when you advertise a product for a company, you get some of your readers to buy it. When that happens, we get a cut of the sales! It's that easy. Most of these links are from Amazon, but some are from other sources. Basically, we're salesmen, and our salary is all comission.</p>

			</div>
		</div>
		<% if user_signed_in? %>
		<% else %>
		</div>
		<% end %>
	</body>
</html>