<html>
	<head>
		
	</head>
	<body class="font">
		<div class="container-offers">
		<div class="first">
			<% if user_signed_in? %>
			<% else %>
			<div class="hero">
			<% end %>
				<h2>We aren't a huge fan of contact forms, so we didn't put one on or website. But you can reach us in a few places.</h2>
				<br>
				<p>If you need to know something, contact us at <span class="heavier">info@blogforce.co</span></p>
				<p>If you want to tell us something, contact us at <span class="heavier">hey@blogforce.co</span></p>
				<p>If you want a partnership or have a business opportunity for us, you can email us at <span class="heavier">business@blogforce.co</span></p>
				<p>If you want to call us, you can do so at <span class="heavier">555-555-5555.</span></p>
			<% if user_signed_in? %>
			<% else %>
			</div>
			<% end %>
		</div>
		</div>
	</body>
</html>