<html>
	<head>
		
	</head>
	<body>
		<h3 class="text-center header-spacing">Want to reach out to us? Please email us. We hate contact forms.</h3>
		<br>
		<div class="narrow">
			<h4 class="bulk">Send us an <a href="mailto:example@example.com" class="link">email</a> with your message. We really don't care what it is, but we'll read it. We read *almsot* all the email we get, so it's hard to respond to it all. If we don't, remember, you're still important to us.</h4>
			<br>
		</div>
		<div class="narrow">
			<h3 class="text-center socialmedia">Social Media</h3>
			<div class="social-con">
				<span class="ion-social-instagram social"></span>
			</div>
			<div class="social-con">
				<span class="ion-social-facebook social"></span>
			</div>
			<div class="social-con">
				<span class="ion-social-youtube social"></span>
			</div>
		</div>
	</body>
</html>