<html>
	<head>
		
	</head>
	<body>
		<div class="slider">
			<div class="dots">
				<div class="slider-nav"></div>
				<div class="slider-nav"></div>
				<div class="slider-nav"></div>
			</div>
		</div>
	</body>
</html>