<html>
	<head>
		
	</head>
	<body>
		<div class="first">
			<div class="hero">
				<h1>Blog Force is the best way to make money with your blog, YouTube Channel, or Podcast.</h1>
				<br>
				<a href="/pages/about" class="text-center">Learn More.</a>
			</div>
		</div>
	</body>
</html>