<html>
	<head>
		
	</head>
	<body>
	<%= render 'sidebar' %>
		<div class="container-offers">
			<h1 class="text-center blue">Your Account</h1>
			<br>
			<h3>Email: <%= current_user.try(:email) %></h3>
			<h3>Website: <a href="<%= current_user.url %>"><%= current_user.url %></a></h3>
			<br>
			<br>
			<div class="col-lg-6 text-center">
				<a href="/pushes" class="btn btn-info">
					<span class="white">Your Campaigns</span>
				</a>
			</div>
			<div class="col-lg-6 text-center">
				<a href="/offers" class="btn btn-info">
					<span class="white">Find a Campaign</span>
				</a>
			</div>
		</div>
	</body>
</html>