<html>
	<head>
		
	</head>
	<body>
			<h3 class="text-center blue">Your Account</h3>
			<br>
			<h4>Email: <%= current_user.try(:email) %></h4>
			<h4>Website: <a href="<%= current_user.url %>"><%= current_user.url %></a></h4>
			<br>
			<br>
			<div class="col-lg-6 text-center">
				<a href="/pushes" class="btn btn-info">
					<span class="white">Your Campaigns</span>
				</a>
			</div>
			<br>
			<br>
			<div class="col-lg-6 text-center">
				<a href="/offers" class="btn btn-info">
					<span class="white">Find a Campaign</span>
				</a>
			</div>
	</body>
</html>