<html>
	<head>
		
	</head>
	<body>
		<div class="sidebar">
			
			<div class="brand">
				<div class="logo-c">
					<span class="logo">blog/force</span>
				</div>
			</div>

			<div class="user">
				<div class="image"></div>
				<div class="user-info">
					<div class="name">Sam Henrichs</div>
					<div class="description">Description.</div>
				</div>
			</div>

			<div class="bar-line"></div>
			<br>
			<div class="centered">
				<a href="/offers" class="btn btn-info text-center"><span class="white">New Campaign</span></a>
			</div>

			<div class="actions">
				<br>
				<a href="/campaigns" class="bar-link">Dashboard</a>
				<br>
				<br>
				<a class="bar-link" href="/offers">Offers</span>
			</div>

			<div class="bottom">
				
			</div>


		</div>
	</body>
</html>