<div class="container-offers">

  <h1 class="blue">Start a campaign.</h1>
    
    <div class="space"></div>

    <% @offers.each do |offer| %>
      <% if offer.place == 2 %>
        <% if Offer.where(name: offer.name).count >= 2 %>
        <% else %>
          <div class="offer">
            
          </div>
        <% end %>
      <% else %>
            <div class="offer">
              <h3 class="text-center"><%= offer.title %></h3>
              <br>
              <div class="product-image"></div>
              <br>
              <h4><%= truncate(offer.description, :length => 250) %></h4>
              <br>
              <div class="moreinfo">
                <h4><%= link_to 'More Info', offer, class: "text-center btn-default" %></h4>
              </div>
            </div>
      <% end %>
    <% end %>
<br>
<br>
  <div class="space">
    <% if current_user.email == "sbhenrichs@gmail.com" %>
      <div class="new-offer"><%= link_to 'New Offer', new_offer_path, class: "btn-default" %></div>
      <br>
      <br>
    <% else %>
    <% end %>
  </div>

</div>
