<div class="container-offers">
  
  <% if current_user.try(:popup) == false %>
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
    </div>
  <% else %>

  <% end %>
  <div class="fifty">
    <h2>Start a campaign.</h2>
  </div>
    
    <div class="space"></div>

    <% @offers.each do |offer| %>
      <% if offer.place == 2 %>
        <% if Offer.where(name: offer.name).count >= 2 %>
        <% else %>
          <div class="offer">
            
          </div>
        <% end %>
      <% else %>
            <div class="offer">
              <h5><%= offer.title %></h5>
              <br>
              <h5><%= offer.description %></h5>
            </div>
      <% end %>
    <% end %>
<br>
<br>
  <div class="space">
    <% if current_user.email == "sbhenrichs@gmail.com" %>
      <div class="new-offer"><%= link_to 'New Offer', new_offer_path, class: "font" %></div>
      <br>
      <br>
    <% else %>
    <% end %>
  </div>

</div>
