/* Universal */
* {
	font-family: "Lato", helvetica neue, sans-serif;
}
h1, h2 , h3, h4 , h5, h6 {
	font-weight: 300;
	margin: 0px;
  padding: 5px;
}
h1 {
  font-size: 50px;
}
h2, {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 115%;
}
h6 {
  font-size: 10px;
}
a, a:visited {
	text-decoration: none;
}
/* Navbar */
.navbar {
	border-radius: 0px;
	height: 70px;
	width: 100vw;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #4f4f4f;
}
.brand {
	display: inline-block;
	line-height: 70px;
	font-size: 200%;
	display: inline-block;
	margin-left: 20px;
  color: #418fb6;
  font-weight: 300;
}
.right-links {
	float: right;
	display: inline-block;
	margin-right: 50px;
	line-height: 70px;
  font-size: 95%;
}
.hac, .hac:visited {
  margin-left: 25px;
  color: #949494;
  text-decoration: none;
  transition: 250ms ease-in-out;
  font-weight: 300;
  text-transform: uppercase;
}
.hac:hover, .hac:active {
  color: white;
}
.btn-sign-in, .btn-sign-in:visited {
  color: #949494;
  padding: 7.5px 30px 7.5px 30px;
  border-radius: 2.5px;
  border: 1px solid #949494;
  text-decoration: none;
  margin-left: 25px;
  font-size: 90%;
  text-transform: uppercase;
}
.btn-sign-in:hover, .btn-sign-in:active {
  color: black;
  background-color: white;
  border-color: white;
}
.btn-sign-up {
  color: #418fb6;
  padding: 7.5px 30px 7.5px 30px;
  border-radius: 2.5px;
  border: 1px solid #418fb6;
  text-decoration: none;
  margin-left: 25px;
  font-size: 90%;
  text-transform: uppercase;
}
.btn-sign-up:hover, .btn-sign-up:active {
  color: white;
  background-color: #418fb6;
  border-color: #418fb6;
}
/* Sidebar */
.sidebar {
	height: calc(100vh - 70px);
	width: 225px;
	background-color: #656363;
	color: #d85f65;
	font-weight: 300;
	position: fixed;
	left: 0px;
	top: 70px;
}
.side-item {
	padding: 10px 17.5px 10px 20px;
  font-weight: 300;
}
#first-side-item {
	margin-top: 25px;
}
.side-link, .side-link:visited {
  color: #418fb6;
  text-decoration: none;
  transition: 250ms ease-in-out;
  text-transform: uppercase;
}
.side-link:hover, .side-link:active {
  color: white;
}


/* Pages */
  /* Home */
  .video-background {
    width: 100%;
    height: calc(100vh - 70px);
    left: 0;
    right: 0;
    position: absolute;
    top: 70px;
  }
  .video {
    height: 100%;
    width: 100%;
  }
  /* About */
  .social-con {
    margin-left: 15.070%;
    margin-right: 15.070%;
    display: inline-block;
    margin-top: 50px;
    font-size: 150%;
  }
  .social {
    color: black;
    transition: 100ms ease-in-out;
    font-size: 150%;
    text-align: center;
  }
  .social:hover {
    color: #418fb6;
  }
  .socialmedia {
    margin-top: 25px;
  }
  /* Contact */
  .bulk {
    line-height: 30px;
  }

/* Offers */
  /* Index */
  .offer {
    width: 400px;
    text-align: justify;
    padding: 15px;
    background-color: white;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    border: 3px solid #eee;
    border-radius: 10px;
    margin-right: 25px;
  }
  .moreinfo {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 50px;
  }
  .offer-image {
    width: 50%;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25%;
  }
  .index-image {
    height: 200px;
    width: auto;
  }
  .help-box {
    padding: 20px;
    width: 100%;
    background-color: #418fb6;
  }
  .campaign-links {
    float: left;
    clear: both;
    margin-top: 50px;
  }

/* Campaigns */
  /* Index */
  .campaign {
    width: 90%;
    border: 1px solid #eee;
    margin-left: 5%;
    display: block;
  }
  .image-con {
    height: 100px;
    width: 100px;
    padding: 15px;
    display: inline-block;
  }
  .image {
    height: 90px;
    width: 90px;
    display: inline-block;
    margin-top: 5px;
    outline: 3px solid #418fb6;
    margin-left: 15px;
  }
  .title {
    height: 100%;
    width: 300px;
    display: inline-block;
    margin-left: 25px;
    line-height: 80px;
  }
  .name {
    display: table-cell;
    vertical-align: middle;
  }
  .date-con {
    height: 100%;
    display: inline-block;
    margin-left: 25px;
    line-height: 80px;
  }
  .date {
    display: table-cell;
    vertical-align: middle;
  }
  /* Show */
  .campaign-image {
    width: 49%;
    height: 300px;
    float: left;
    border: 3px solid #418fb6;
    border-radius: 5px;
  }
  .campaign-description {
    width: 49%;
    float: right;
  }
  .description {
    margin-top: 50px;
  }
  #endcampaign {
    margin-bottom: 50px;
  }
  #sc {
    margin-bottom: 50px;
  }

/* Text Effects */
.text-center {
	text-align: center;
}
.blue {
  color: #418fb6;
}
/* Bootstrap */
.form-group {
  height: 50px;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  margin-top: 25px;
}
.form-group-area {
  height: 250px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.form-group-small {
  height: 25px;
  width: 80%;
  margin-left: 10%;
  padding: 7.5px;
  margin-top: 15px;
}
.form-control {
  width: 100%;
  border-radius: 0px;
  border: 0px solid transparent;
  border-bottom: 1px solid #eee;
  font-size: 150%;
  font-weight: 300;
  transition: 100ms ease-in-out;
  padding: 5px;
}
.form-control:focus {
  border-bottom: 3px solid #418fb6;
}
*:focus {
    outline: 0 !important;
}
.btn-default {
  color: #418fb6;
  padding: 7.5px 30px 7.5px 30px;
  border-radius: 2.5px;
  border: 1px solid #418fb6;
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  background-color: white;
}
.btn-default:hover {
  color: white;
  background-color: #418fb6;
  cursor: pointer;
}
.btn-danger, .btn-visited {
  color: #d45259;
  padding: 7.5px 30px 7.5px 30px;
  border-radius: 2.5px;
  border: 1px solid #d45259;
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  background-color: white;
}
.btn-danger:hover, .btn-danger:active {
  color: white;
  border: 1px solid #d45259;
  background-color: #d45259;
  cursor: pointer;
}
.header-spacing {
  padding: 50px;
}
.narrow {
  width: 80%;
  margin-left: 10%;
}
.link, .link:visited {
  color: black;
  text-decoration: none;
  transition: 250ms ease-in-out;
}
.link:hover, .link:active {
  border-bottom: 1px solid black;
}
.hide {
  visibility: hidden;
}















