/* Universal */
* {
	font-family: "Lato", helvetica neue, sans-serif;
  -webkit-appearance: none;
}
h1, h2 , h3, h4 , h5, h6 {
	font-weight: 300;
	margin: 0px;
  padding: 5px;
}
h1 {
  font-size: 50px;
}
h2, {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 115%;
}
h6 {
  font-size: 10px;
}
a, a:visited {
	text-decoration: none;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #33bf90;
}

::selection {
    color: white;
    background: #33bf90;
}
/* Navbar */
.navbar {
	border-radius: 0px;
	height: 70px;
	width: 100vw;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.975);
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 3px rgba(0,0,0,.08)
}
.sandwich {
  display: inline-block;
  height: 70px;
  position: absolute;
  top: 0;
  left: 5%;
  line-height: 70px;
}
#nav-toggle {
  font-size: 200%;
  color: #33bf90;
}
.slideout {
  position: fixed;
  top: 0;
  left: -301px;
  height: 100%;
  width: 300px;
  background: white;
  border-right: 1px solid #eee;
  z-index: 500;
  font-weight: lighter;
}
.close {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 200%;
}
.open {
  left: 0px;
}
.slideout-content {
  margin-left: 25px;
}
.brand {
	display: inline-block;
	line-height: 70px;
	font-size: 150%;
	display: inline-block;
  color: #33bf90;
  font-weight: 300;
}
.right-links {
	float: right;
	display: inline-block;
	line-height: 70px;
  font-size: 95%;
}
.hac, .hac:visited {
  margin-right: 25px;
  color: #949494;
  text-decoration: none;
  transition: 250ms ease-in-out;
  font-weight: 300;
}
.hac:hover, .hac:active {
  color: #33bf90;
}
.btn-sign-in, .btn-sign-in:visited {
  color: #949494;
  border-radius: 2.5px;
  border: 1px solid #949494;
  text-decoration: none;
  margin-left: 25px;
  font-size: 90%;
  text-transform: uppercase;
  transition: 250ms ease-in-out;
}
.btn-sign-in:hover, .btn-sign-in:active {
  color: white;
  background-color: #949494;
  border-color: #949494;
}
.btn-sign-up {
  color: #33bf90;
  border-radius: 2.5px;
  border: 1px solid #33bf90;
  text-decoration: none;
  margin-left: 25px;
  font-size: 90%;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
}
.btn-sign-up:hover, .btn-sign-up:active {
  color: white;
  background-color: #33bf90;
  border-color: #33bf90;
}
.nav-content {
  width: 80%;
  margin-left: 10%;
  display: inline-block;
}
.cd {
  width: 200px;
  padding: 15px;
  border: 1px solid #eee;
  position: absolute;
  z-index: 1000;
  background: white;
  top: 70px;
  display: none;
  font-weight: 300;
}
/* Sidebar */
.sidebar {
	height: calc(100vh - 70px);
	width: 225px;
	background-color: #656363;
	color: #d85f65;
	font-weight: 300;
	position: fixed;
	left: 0px;
	top: 70px;
  display: none;
}
.side-item {
	padding: 10px 17.5px 10px 20px;
  font-weight: 300;
}
#first-side-item {
	margin-top: 25px;
}
.side-link, .side-link:visited {
  color: #418fb6;
  text-decoration: none;
  transition: 250ms ease-in-out;
  text-transform: uppercase;
}
.side-link:hover, .side-link:active {
  color: white;
}


/* Pages */
  /* Home */
  .slider {
    position: absolute;
    left: 0;
    top: 70px;
    right: 0;
    height: 500px;
    background: #eee;
    z-index: -5;
  }
  .slider-nav {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    margin-right: 10px;
  }
  .slider-nav-active {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    margin-right: 10px;
  }
  .dots {
    position: absolute;
    top: 460px;
    margin-left: calc(50% - 25px);
    z-index: 100;
  }
  .message {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 500px;
    border: 1px solid #b0b0b0;
  }
  .amessage {
    width: 33%;
    display: inline-block;
    height: 100%;
    border-right: 1px solid #b0b0b0;
  }
  /* About */
  .social-con {
    margin-left: 15.070%;
    margin-right: 15.070%;
    display: inline-block;
    margin-top: 50px;
    font-size: 150%;
  }
  .social {
    color: black;
    transition: 100ms ease-in-out;
    font-size: 150%;
    text-align: center;
  }
  .social:hover {
    color: #418fb6;
  }
  .socialmedia {
    margin-top: 25px;
  }
  /* Contact */
  .bulk {
    line-height: 30px;
  }

/* Offers */
  /* Index */
  .offer {
    width: 400px;
    text-align: justify;
    padding: 15px;
    background-color: white;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    border: 3px solid #eee;
    border-radius: 10px;
    margin-right: 25px;
  }
  #sac {
    margin-bottom: 30px;
  }
  .title-link, .title-link:visited {
    color: black;
    transition: 250ms ease-in-out;
  }
  .title-link:hover, .title-link:active {
    color: #33bf90;
    box-shadow: 0px 1px 0px 0px #33bf90;
  }
  .moreinfo {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 50px;
  }
  .offer-image {
    width: 50%;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25%;
  }
  .campaign-links {
    float: left;
    clear: both;
    margin-top: 50px;
  }
  /* Show */
  .show-offer-con {
    height: 500px;
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .show-image-flex {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .index-image {
    max-width: 100%;
    max-height: 100%;
  }
  .description-con {
    width: 100%;
    text-align: justify;
  }
  .links {
    width: 100%;
    clear: both;
    margin-top: 25px;
    text-align: center;
  }

/* Campaigns */
  /* Index */
  .campaign {
    width: 90%;
    border: 3px solid #eee;
    margin-left: 5%;
    display: block;
    padding: 20px;
  }
  .img-index-post {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    height: 125px;
    width: 125px;
  }
  .img-index-con {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-index {
    max-height: 100%;
    max-width: 100%;
  }
  .title {
    width: 200px;
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;
    font-size: 125%;
  }
  .name {
    display: table-cell;
    vertical-align: middle;
  }
  .date-con {
    height: 100%;
    display: inline-block;
    margin-left: 25px;
    line-height: 80px;
    vertical-align: middle;
  }
  .date {
    display: table-cell;
    vertical-align: middle;
  }
  /* Show */
  .show-image-con {
    display: inline-block;
    width: 49%;
    height: 500px;
    float: left;
    vertical-align: middle;
  }
  .push-img {
    max-height: 100%;
    max-width: 100%;
  }
  .campaign-description {
    width: 49%;
    float: right;
    display: inline-block;
    vertical-align: middle;
  }
  .description {
    margin-top: 50px;
  }
  #endcampaign {
    margin-bottom: 50px;
  }
  #sc {
    margin-bottom: 50px;
  }
  .information-show {
    margin-top: 50px;
    margin-bottom: 50px;
  }

/* Text Effects */
.text-center {
	text-align: center;
}
.blue {
  color: #33bf90;
}
/* Bootstrap */
.form-group {
  height: 50px;
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  margin-top: 25px;
}
.form-group-area {
  height: 250px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.form-group-small {
  height: 25px;
  width: 80%;
  margin-left: 10%;
  padding: 7.5px;
  margin-top: 15px;
}
.form-control {
  width: 100%;
  border-radius: 0px;
  border: 0px solid transparent;
  border-bottom: 1px solid #eee;
  font-size: 150%;
  font-weight: 300;
  transition: 100ms ease-in-out;
  padding: 5px;
}
.form-control:focus {
  border-bottom: 3px solid #33bf90;
}
*:focus {
    outline: 0 !important;
}
.btn-default {
  color: #33bf90;
  border-radius: 2.5px;
  border: 1px solid #33bf90;
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  background-color: white;
  transition: 250ms ease-in-out;
}
.btn-default:hover {
  color: white;
  background-color: #33bf90;
  cursor: pointer;
}
.btn-danger, .btn-dange:visited {
  color: #d45259;
  border-radius: 2.5px;
  border: 1px solid #d45259;
  text-decoration: none;
  font-size: 90%;
  text-transform: uppercase;
  background-color: white;
  transition: 250ms ease-in-out;
}
.btn-danger:hover, .btn-danger:active {
  color: white;
  border: 1px solid #d45259;
  background-color: #d45259;
  cursor: pointer;
}
.btn-reg {
  padding: 7.5px 30px 7.5px 30px;
}
.btn-lg {
  font-size: 150%;
  padding: 10px 35px;
  font-weight: lighter;
}
.header-spacing {
  padding: 50px;
}
.narrow {
  width: 80%;
  margin-left: 10%;
}
.link, .link:visited {
  color: black;
  text-decoration: none;
  transition: 250ms ease-in-out;
}
.link:hover, .link:active {
  color: #33bf90;
  box-shadow: 0px 1px 0px 0px #33bf90;
}
.hide {
  visibility: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.help-modal {
  width: 580px;
  height: 380px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
#trigger {
  height: 50px;
  width: 50px;
  background-color: black;
}
#close-btn {
  float: right;
}
.btn-center {
  width: 100%;
  text-align: center;
}
.center {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d45259;
  color: white;
  font-weight: lighter;
}
.center ul {
  list-style-type: none;
}







