@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800';
$blue: #58ACFA;
html, head, body {
	margin: 0px;
	padding: 0px;
	line-height: auto;
	font-family: "Open Sans";
}
.navbar {
	width: 90%;
	margin-left: 5%;
	margin-top: 25px;
	height: 50px;
}
.float-left {
	float: left;
	display: inline-block;
	line-height: 50px;
}
.brandr {
	font-size: 125%;
}
.float-right {
	float: right;
	display: inline-block;
	line-height: 50px;
}
.link {
	margin-left: 10px;
}
.hero {
	float: left;
	font-weight: lighter;
	width: 75%;
	margin-left: 12.5%;
	margin-top: 100px; 
}
.first {
	clear: both;
	line-height: auto;
	margin-top: 100px;
}
.clear-both {
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: lighter;
}
.heavier {
	font-weight: bolder;
}
.text-center {
	text-align: center;
}
a, a:hover, a:active, a:focus, a:visited {
	color: black;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.line {
	width: 100%;
	height: 1px;
	background-color: black;
}
.larger {
	font-size: 115%;
}
.blue {
	color: $blue;
}
#list {
	display: none;
}
.dropdown-toggle {
	width: 25px;
	height: 25px;
	background-color: #eee;
	clear: both;
}
@media (max-width: 450px) {
	#line {
		display: none;
	}
	#list {
		float: left;
		line-height: 1.5;
		clear: both;
	}
	.float-right {
		float: left;
		display: block;
		margin-left: -50px;
	}
	ul {
		list-style-type: none;
	}
	.dropdown-toggle {
		display: block;
	}
}




