<div class="navbar">
	<div class="float-left">
		<a href="/pages/home" class="brand">blog/force</a>
	</div>
	<div class="float-right">
		<a href="/pages/about" class="link">About</a>
		<a href="/pages/contact" class="link">Contact</a>
		<a href="/users/sign_up" class="link">Get Started</a>
		<span class="link">Sign In</span>
	</div>
</div>